html body{margin:0px; padding:0px;}

 
 
 
 .app-header{width:100%;background-color:#414141;max-height: 50px;min-height: 50px;}
 .app-footer{width:100%; background-color: #414141;max-height: 50px;min-height: 50px;position: absolute;bottom:0px;border-top:#5a5a5a;}
 .app-footer p{color:#fff; text-align: center;}

 .leftmenu-container{height: 100%;float: left; width: 270px; color: #fff; overflow: auto; position: fixed;background-color:#414141;border-top:1px solid #5a5a5a;margin-bottom:40px;}

 .skin-blue .main-header .navbar {
  background-color: #3c8dbc;
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
